body{
	color: #d5d2d2;
	background-color: #15001a;
	font-family: monospace;
}
p {
	display: inline;
	font-size: 20px;
	color: #d5d2d2;
	font-weight: bold;
	transform: scaleY(115%);
	line-height: 1.5;
	margin-top: 20px;
	overflow-wrap: break-word;

}
.title{
position: static;
height: 100px;
margin-left: 15px;
font-size: 36px;
border-bottom: 1px solid whitesmoke;
}
.box{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

/*
.desc{
position: absolute;
margin-left: 12cm;
margin-top: 2cm;
margin-bottom: 2cm;
margin-right: 1cm;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);  this adds the "card" effect 
text-align: center;
background-color: #f1f1f1;
}
.posts{
margin-top: 5px;
margin-bottom: 5px;
margin-left: 5px;
margin-right: 5px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);  this adds the "card" effect 
background-color: #f1f1f1;
}
*/